:root{
    --headerHeight: 70px;
}
.widgets-ydheader{
    & .h-70{
        height: var(--headerHeight);
    }
    & .header-content{
        line-height: var(--headerHeight);
        color: #000;
        box-shadow: 0 0 10px #000;
        overflow: hidden;
    }
    & .header-content__logo{
        float: left;
    }
    & .header-content__nav{
        float: right;
        & li{float:left;}
    }

}
